@using System.Security.Claims;
@{
    var tenantName = ViewBag.TenantName as string;
    var tenantId = ViewBag.TenantId;
    var pagename = ViewBag.PageName as string;
    var isUser = User.IsInRole("User");
    //var isAdmin = User.IsInRole("Admin");

    var claimsIdentityRole = System.Security.Claims.ClaimsIdentity.DefaultRoleClaimType.Trim();

    var userClaim = User.Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value).ToList();

    bool isAdmin = userClaim.Contains("Admin");

    bool isAdmin2 = userClaim.Contains("Admin");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogicalPantry.Web</title>

  @*    <link href="/css/default-main.css" rel="stylesheet" />  *@
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .sidenav-light {
            background-color: #fff;
            color: #1f2d41;
        }

        .sidenav-light .sidenav-menu .nav-link:hover {
            color: #0061f2;
            background-color: #f1f1f1;
            border-radius: 0.2rem;
            margin: 0rem 0.5rem 0rem 0.75rem;
            padding-left: 0.5rem !important;
        }

        .topnav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            background-color: white;
            height: 60px; /* Adjust based on navbar height */
            width: 100%; /* Ensure full width */
        }

        .topnav .navbar-nav {
            display: flex;
            flex-direction: row;
            margin-left: auto; /* Push links to the right */
        }

        .topnav .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
            font-weight: normal;
            transition: color 0.3s, font-weight 0.3s;
        }

        .topnav .nav-link:hover {
            color: #0061f2;
            font-weight: bold;
        }

        .page-name {
            flex: 1;
            text-align: center;
            font-weight: bold;
            color: #1f2d41;
            font-size: 1.25rem; /* Adjust size as needed */
        }

        #layoutSidenav {
            display: flex;
            flex-direction: column;
            height: 80vh;
            width: 100vw;
            margin: 0;
        }

        #layoutSidenav_content {
            margin-left: @(isAdmin ? "0" : "20px"); /* Add margin if sidenav is hidden */
            margin-right: 20px;
            transition: margin 0.15s ease-in-out;
            padding: @(!isAdmin ? "0" : "10px");
        }

        @@media (min-width: 992px) {
            #layoutSidenav #layoutSidenav_content {
                margin-left: @(isAdmin ? "0" : ""); /* Add margin if sidenav is hidden */
            }
        }

        .nav-fixed #layoutSidenav #layoutSidenav_content {
            padding-left: @(isAdmin ? "none" : "2rem");
            padding-right: 2rem;
            top: 4rem;
            padding-bottom: 5rem;
        }

        footer {
            display: flex;
            justify-content: right;
        }

        #pickUp {
            display: @(isAdmin ? "none" : "visible");
        }

    </style>
</head>
<body class="nav-fixed">
    <nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
        <div class="tenatImage">
            <img src="~/Image/Demo.jpeg" id="logoImage" style="width: 95px; padding-left: 10px; opacity:100%" />
        </div>
        <div class="page-name" id="pageName">
            @(!string.IsNullOrEmpty(pagename) ? pagename.Replace(".html", " ") : "")
        </div>

        <div class="navbar-nav">
            <a class="nav-link @(isAdmin ? "" : "hidden")"
               href="/@tenantName/TimeSlot/UserCalendar"
               id="pickUp">
                Pickup
            </a>

            <a class="nav-link" href="/@tenantName/Donation/PayPal">Donation</a>
            <a class="nav-link" href="/@tenantName/Auth/LoginView">Login</a>
            <input id="page" type="hidden" name="name" value="@TempData["PageName"]" />
            <input type="hidden" value="@isUser" id="isUser" />
            @if (User.Identity.IsAuthenticated)
            {

                var userEmail = User.FindFirstValue(ClaimTypes.Email) ?? User.Claims.FirstOrDefault(c => c.Type == "preferred_username")?.Value;
                var userName = User.FindFirstValue(ClaimTypes.Name) ?? User.Claims.FirstOrDefault(c => c.Type == "name")?.Value;
                @* <p>@userName</p> *@
            }

        </div>
    </nav>
           
    <div id="layoutSidenav">
         
            <div id="layoutSidenav_nav">
    
            @if (isAdmin)
            {
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading">Main Menu</div>
                            <a class="nav-link collapsed" id="menuIndex" href="/@tenantName/TimeSlot/Calendar">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Pickup Slots
                            </a>
                            <a class="nav-link collapsed" id="menuIndex" href="/@tenantName/Information/AddTenant">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Information
                            </a>
                            <a class="nav-link collapsed" id="menuIndex" href="/@tenantName/User/ManageUsers">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Users
                            </a>
                        </div>
                    </div>
                </nav>
            }
        </div> 
        
        <div id="layoutSidenav_content">
            <main>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </main>
            <footer class="text-light py-2 fixed-bottom text-center">
                <div class="container">
                    <p class="mb-0" style="color:black;display:flex; justify-content : center">&copy; @DateTime.Now.Year - LogicalPantry</p>
                </div>
            </footer>
        </div>
    </div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                var userEmail = '@User.FindFirstValue(ClaimTypes.Email) ?? User.Claims.FirstOrDefault(c => c.Type == "preferred_username")?.Value';
                $.ajax({
                    url: "/@tenantName/Information/Get",
                    method: "GET",
                    data: { tenantid: @tenantId },
                    success: function (data) {
                        $("#logoImage").attr("src", data.ImageUrl);
                    },
                    error: function () {
                        console.error("Cannot find Image src");
                    }
                });

                var handlerValue = $("#page").val();
                debugger
                //$(".page-name").text(handlerValue ? handlerValue.replace('.html', ' ') : '');

                debugger
                // if ($("#isUser").val() === "True") {
                //     $("#layoutSidenav_nav").remove();
                // }
            });
        </script>
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
