@using System.Security.Claims

@{
    // Retrieve necessary data from ViewBag and User Claims
    var tenantName = ViewBag.TenantName as string;
    var tenantId = ViewBag.TenantId;
    var pagename = ViewBag.PageName as string;
    var isUser = User.IsInRole("User");

    // Check user roles and authentication status
    var userClaim = User.Claims
                        .Where(c => c.Type == ClaimTypes.Role)
                        .Select(c => c.Value).ToList();
    bool isAdmin = userClaim.Contains("Admin");

    var isAuthenticated = User.Identity.IsAuthenticated;
    var Logo = ViewBag.Logo as string;
    var userEmail = User.FindFirstValue(ClaimTypes.Email) ?? User.Claims.FirstOrDefault(c => c.Type == "preferred_username")?.Value;
    var userName = User.FindFirstValue(ClaimTypes.Name) ?? User.Claims.FirstOrDefault(c => c.Type == "name")?.Value;

    // Determine the appropriate padding based on authentication and role
    string paddingLeft = !isAuthenticated && isUser ? "1rem" : "15rem";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogicalPantry.Web</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  

    <style>
   /*  body {
        margin: 0;
       
        display: flex;
        flex-direction: column;
       
    }
 */

        img {
            vertical-align: middle;
            border-style: none;
            max-height: 40px;
        }


        html, body {
            margin: 0;
            height: 100%;
            font-family: Arial, sans-serif;
        }

    .container {
        max-width: 950px;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        background-color: #fff;
        height: 60px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .topnav .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
                justify-content: end;
    }

    .topnav .nav-link {
        font-weight: normal;
        transition: color 0.3s, font-weight 0.3s;
        text-decoration: none;
    }

    .topnav .nav-link:hover {
        color: #0061f2;
        font-weight: bold;
    }

    .page-name {
        flex: 1;
        text-align: center;
        font-weight: bold;
        color: #1f2d41;
        font-size: 1.25rem;
    }

    #layoutSidenav {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #layoutSidenav_nav {
        display: @(isAdmin ? "block" : "none");
        flex-shrink: 0;
    }

    #layoutSidenav_content {
        flex: 1;
        margin-left: @(isAdmin ? "250px" : "20px");
        margin-right: 20px;
        transition: margin 0.15s ease-in-out;
        padding: @(isAdmin ? "10px" : "0");
        overflow: auto;
    }

    .sidenav {
        background-color: #fff;
        color: #1f2d41;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    }

    .sidenav-menu {
        padding: 1rem;
    }

    .sidenav-menu .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        color: #1f2d41;
        text-decoration: none;
    }

    .sidenav-menu .nav-link:hover {
        background-color: #f1f1f1;
        border-radius: 0.2rem;
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: #eff3f9;
        color: #6c757d;
        width: 100%;
        position: relative;
        bottom: 0;
        text-align: center;
        flex-shrink: 0;
    }

    footer p {
        margin: 0;
        color: black;
    }

    /* Hide scrollbar */
    body::-webkit-scrollbar {
        display: none;
    }

    .container-fluid {
        max-width: 90%;
        margin: 10px auto;
    }


       


    @@media (min-width: 769px) {
        .sidenav {
            width: 250px;
            position: fixed;
            top: 60px;
            bottom: 0;
        }

        #layoutSidenav_content {
            margin-left: 250px;
        }

           
    }

    .page-header > .container-fluid:first-of-type {
        max-height: 40vh;
        display: flex;
        justify-content: center;
    }

    .page-header-compact .page-header-content .page-header-title {
        font-size: 1.5rem;
    }

    .nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav {
        padding-top: 0rem;
    }

    .container-fluid {
        max-width: 90%;
        margin: 10px auto;
    }

        .container-xl {
            display:flex;
            justify-content: center;
        }

        .sidenav-light .sidenav-menu .nav-link:hover {
            color: black;
            background-color: #ffffff90;
            border-radius: 0.2rem;
            margin: 0rem 0.5rem 0rem 0.75rem;
            padding-left: 0.5rem !important;
             color: #0061f2;
           /*  color: brown; */
        }

        .container-fluid{
            margin-left: 60px;
        }

        .page-header > .container-fluid:first-of-type {
            max-height: 20vh;
            display: flex;
            justify-content: center;
        }

        #pageName {
            display: flex;
            justify-content: start;
            margin-left : 2%;
            
        }

        .dropdown-menu {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
            transform: translateY(10px);
        }

            .dropdown-menu.show {
                display: block;
                opacity: 1;
                transform: translateY(0);
                overflow: hidden;
            }

        html, body {
            height: 100%;
            margin: 0;
        }

        

        
        footer {
            background-color: #eff3f9;
            color: #6c757d;
            text-align: center;
            padding: 1rem;
            width: 100%;
            position: relative;
            bottom: 0;
            flex-shrink: 0; /* Prevent footer from shrinking */
        }

        .container-fluid {
            max-width: 90%;
            margin: 10px auto;
            padding-bottom: 5rem; /* Ensure content doesn't go under the footer */
        }

        #layoutSidenav_content {
            flex: 1;
            overflow: auto;
            padding: 20px;
            margin-bottom: 5rem; /* Ensure space for footer */
        }

        footer {
            background-color: #eff3f9;
            color: #6c757d;
            text-align: center;
            padding: 1rem;
            width: 100%;
            position: relative;
            bottom: 0;
            flex-shrink: 0;
        }

        .page-header-compact .page-header-content {
            padding: 0;
            padding-top: 10px;
        }

        .nav-fixed .topnav {
            z-index: 1039;
            padding-left: 16px;
        }

        #pickUp
        {
            padding-left: 0px;
            padding-right: 0px;
        }

        #profile {
            padding-left: 0px;
            padding-right: 0px;
        }

        #donation
        {
            padding-left: 0px;
            padding-right: 0px;
        }

        #navbarDropdownUserImage{
            padding-left: 0px;
            padding-right: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
        }


        /* Default: Sidebar hidden on larger screens */
        .sidebar-nav, .menu-toggle {
            display: none; /* Hide by default */
            overflow: hidden;
        }

        /* Sidebar Styling */
        .sidebar-nav {
            position: fixed;
            top: 0;
            left: -250px;
            width: 250px;
            height: 100%;
            background-color: #f1f1f1;
            color: #333;
            overflow-y: auto;
            transition: left 0.3s ease;
            z-index: 1000;
        }

            .sidebar-nav .inner {
                padding: 20px;
            }

            .sidebar-nav h2 {
                color: #333;
                margin-top: 0;
            }

            /* Links styling */
            .sidebar-nav ul {
                list-style: none;
                padding: 0;
            }

                .sidebar-nav ul li {
                    margin: 10px 0;
                }

                    .sidebar-nav ul li a {
                        color: #333;
                        text-decoration: none;
                    }

                        .sidebar-nav ul li a:hover {
                            text-decoration: underline;
                        }

            /* Menu open class */
            .sidebar-nav.show {
                left: 0; /* Slide in */
            }

            /* Close button */
            .sidebar-nav .close {
                display: block;
                padding: 10px 20px;
                color: #333;
                text-align: center;
                text-decoration: none;
                background-color: #444;
                cursor: pointer;
            }

        /* Media Queries */
        @@media (max-width: 868px) {
            .topnav {
                flex-direction: column;
                align-items: flex-start;
            }

                .topnav .navbar-nav {
                    flex-direction: column;
                    width: 100%;
                    justify-content: end;
                }

            .sidenav {
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
/*                 height: calc(100vh - 60px); */
                height: 300px; /* Reduced height */
                overflow-y: auto;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                overflow: hidden;
            }

            #layoutSidenav_content {
                margin-left: 0;

            }

            #pageName {
                display: flex;
                justify-content: start;
                margin-left: 2%;
                font-size: 0.91rem;
            }


            .sidebar-nav, .menu-toggle {
                display: block;
                overflow: hidden;
            }
           
            .menu-toggle {
         
                top: 15px;
                left: 15px;
                background: none; 
                color: #000; 
                padding: 10px 15px;
                border: none;
                cursor: pointer;
                font-weight: 600;
                font-size: 16px;
                z-index: 1050;
                display: inline-block;
                padding-left: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 0px;
            }
           
            .d-lg-none {
                display: block;
                overflow: hidden;
            }
          
            .sidebar-nav {
                left: -70%;
                height: 250px;
                width: 100%; 
                max-width: 200px;
                overflow: hidden;
            }
                .sidebar-nav.show {
                    left: 0;
                    margin-top: -10px;
                    overflow: hidden;
                }
        }

        @@media (max-width: 468px) {
            .topnav .navbar-nav {
                display: flex;
                flex-wrap: wrap;
             /*    gap: 0.3rem; */
                
            }

            .nav-item.dropdown.no-caret.dropdown-user {
                margin-right: 0 !important; /* Override any margin applied by me-3 or me-lg-4 */
            }
            #sidenavAccordion
            {
                padding-right: 8px;
            }

         
        }

        @@media (max-width: 368px) {
            .topnav .navbar-nav {
                display: flex;
                flex-wrap: wrap;
                gap: 0.2rem;
            }

            .nav-item.dropdown.no-caret.dropdown-user {
                margin-right: 0 !important; /* Override any margin applied by me-3 or me-lg-4 */
            }

            #sidenavAccordion {
                padding-right: 8px;
            }
        }
     
</style>

</head>
<body class="nav-fixed">
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4" id="layoutHeader">
        <div class="container-fluid mt-5 p-1">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-2">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="file"></i></div>
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3"></div>
                </div>
            </div>
        </div>
    </header>
   
    <nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
        <div class="tenantImage">
            <img id="logoImage" src="" style="padding-left: 10px; opacity:100%"  />
        </div>
        <div class="page-name" id="pageName">
          @*   @{
            string formattedPageName = !string.IsNullOrEmpty(pagename)
            ? char.ToUpper(pagename.Replace(".html", " ")[0]) + pagename.Replace(".html", " ").Substring(1)
            : "";
            } *@
         @*    @pagename *@
        </div>
        <div class="navbar-nav">
            @if (isAuthenticated && (!isAdmin || isUser))
            {
                <a class="nav-link" href="/@tenantName/TimeSlot/UserCalendar" id="pickUp" style="display:none;">Pickup</a>
                <a class="nav-link" href="/@tenantName/User/Profile" id="profile">Profile</a>

            }
            @* @if (isAuthenticated)
            {
                //<a class="nav-link" href="/@tenantName/User/Profile" id="profile">Profile</a>
            }  *@
      
            <a class="nav-link" href="/@tenantName/Donation/PayPal" id="donation">Donation</a>
        
            @if (isAuthenticated)
            {
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/sass/freepik/profiles/person.svg" /></a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <img class="dropdown-user-img" src="~/assets/sass/freepik/profiles/profile-6.png" />
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">@userName</div>
                                <div class="dropdown-user-details-email">@userEmail</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/@tenantName/Auth/Logout">
                            <div class="dropdown-item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg></div>
                            Logout
                        </a>
                       
                    </div>
                </li>
            }
            else
            {
                <a class="nav-link" href="/@tenantName/Auth/loginView">Log In</a>
            }

             @if (isAuthenticated && (isAdmin || !isUser))
            {
                <button id="openMenu" class="menu-toggle">☰</button>
            }
        </div>
    </nav>

    @* <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            @if (isAuthenticated && isAdmin)
            {
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading">Admin</div>
                            <a class="nav-link" href="/@tenantName/Information/AddTenant">
                                <div class="nav-link-icon"><i data-feather="file"></i></div>
                                Information
                            </a>
                            <a class="nav-link" href="/@tenantName/User/ManageUsers">
                                <div class="nav-link-icon"><i data-feather="users"></i></div>
                                User Management
                            </a>
                            <a class="nav-link" href="/@tenantName/TimeSlot/Calendar">
                                <div class="nav-link-icon"><i data-feather="calendar"></i></div>
                                Pickup Slots
                            </a>
                        
                         
                            
                           
                        </div>
                    </div>
                </nav>
            }
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
        </div>
    </div> *@

    <div id="layoutSidenav">

      
        <nav id="menu" class="sidebar-nav">
           @*  <div class="inner"> *@
                <ul>
                  @*   <div class="sidenav-menu-heading">Admin</div>                 
                    <li><a class="nav-link" href="/@tenantName/Information/AddTenant">  <div class="nav-link-icon"><i data-feather="file"></i></div>Information</a></li>
                    <li><a class="nav-link" href="/@tenantName/User/ManageUsers">    <div class="nav-link-icon"><i data-feather="users"></i></div>User Management</a></li>
                    <li><a class="nav-link" href="/@tenantName/TimeSlot/Calendar"> <div class="nav-link-icon"><i data-feather="calendar"></i></div>Pickup Slots</a></li> *@
                    <nav class="sidenav shadow-right sidenav-light">
                        <div class="sidenav-menu">
                            <div class="nav accordion" id="accordionSidenav">
                                <div class="sidenav-menu-heading">Admin</div>
                                <a class="nav-link" href="/@tenantName/Information/AddTenant">
                                    <div class="nav-link-icon"><i data-feather="file"></i></div>
                                    Information
                                </a>
                                <a class="nav-link" href="/@tenantName/User/ManageUsers">
                                    <div class="nav-link-icon"><i data-feather="users"></i></div>
                                    User Management
                                </a>
                                <a class="nav-link" href="/@tenantName/TimeSlot/Calendar">
                                    <div class="nav-link-icon"><i data-feather="calendar"></i></div>
                                    Pickup Slots
                                </a>
                            </div>
                        </div>
                    </nav>
                </ul>
           @*  </div> *@
          @*   <a class="close" href="javascript:void(0)" id="closeMenu">Close</a> *@
        </nav>

        <!-- Sidebar Navigation -->
        <div id="layoutSidenav_nav" class="collapse d-lg-block">
          
            @if (isAuthenticated && isAdmin)
            {
               

                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading">Admin</div>
                            <a class="nav-link" href="/@tenantName/Information/AddTenant">
                                <div class="nav-link-icon"><i data-feather="file"></i></div>
                                Information
                            </a>
                            <a class="nav-link" href="/@tenantName/User/ManageUsers">
                                <div class="nav-link-icon"><i data-feather="users"></i></div>
                                User Management
                            </a>
                            <a class="nav-link" href="/@tenantName/TimeSlot/Calendar">
                                <div class="nav-link-icon"><i data-feather="calendar"></i></div>
                                Pickup Slots
                            </a>
                        </div>
                    </div>
                </nav>
            }
        </div>

        <!-- Main Content -->
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer-admin mt-auto footer-light">
        <div class="container-xl px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; 2024 LogicalPantry</div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

    <script>
        feather.replace(); // Initialize Feather Icons

        // // Toggle sidebar visibility
        // document.getElementById('openMenu').addEventListener('click', function () {
        //     document.getElementById('menu').classList.add('show');
        // });

        // // Close sidebar when clicking the close button
        // document.getElementById('closeMenu').addEventListener('click', function () {
        //     document.getElementById('menu').classList.remove('show');
        // });
        document.addEventListener('DOMContentLoaded', function () {
            const menuToggle = document.querySelector('.menu-toggle');
            const sidebar = document.querySelector('.sidebar-nav');

            // Toggle sidebar visibility
            menuToggle.addEventListener('click', function () {
                if (sidebar.classList.contains('show')) {
                    sidebar.classList.remove('show');
                    sidebar.style.display = 'none'; // Hide sidebar
                } else {
                    sidebar.style.display = 'block'; // Show sidebar
                    sidebar.classList.add('show');
                }
            });

            // Optional: Hide sidebar when clicking outside
            document.addEventListener('click', function (e) {
                if (!sidebar.contains(e.target) && !menuToggle.contains(e.target)) {
                    sidebar.classList.remove('show');
                    sidebar.style.display = 'none';
                }
            });
        });

    </script>

    <script>
     $(document).ready(function () {
    var pageHeaderTitle = '';

    // Get the current path
    var path = window.location.pathname;

    console.log("pathe", path);
    
    // Determine the page header title based on the path
            if (path.includes('UserCalendar')) {
                pageHeaderTitle = 'Pickup';
            }
            // Determine the page header title based on the path
            if (path.includes('UserCalendar')) {
                pageHeaderTitle = 'Pickup';
            }
            else if (path.includes('TimeSlot')) {
                pageHeaderTitle = 'Time-Slot';
            } else if (path.includes('AddTenant')) {
                pageHeaderTitle = 'Information';
            } else if (path.includes('ManageUsers')) {
                pageHeaderTitle = 'User Management';
            } else if (path.includes('Registration')) {
                pageHeaderTitle = 'User Registration';
            } else if (path.includes('TimeSlotSignUp')) {
                pageHeaderTitle = 'TimeSlotSignUp';
            } else if (path.includes('Register')) {
                pageHeaderTitle = 'User Registration';
            }

    // Set the page header title
    $('.page-header-title').text(pageHeaderTitle);

            $('.dropdown-user').click(function () {
                var $dropdownMenu = $(this).next('.dropdown-menu');
                $dropdownMenu.toggleClass('show');
            });

            // Optional: Close the dropdown if clicking outside of it
            $(document).click(function (e) {
                if (!$(e.target).closest('.dropdown-menu, #navbarDropdownUserImage').length) {
                    $('.dropdown-menu').removeClass('show');
                }
            });


                var userEmail = '@User.FindFirstValue(ClaimTypes.Email)';
                fetchUserInfo(userEmail);

                async function fetchUserInfo(userEmail) {
                    
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: `/@tenantName/User/GetUser`,
                            method: "GET",
                            data: { email: userEmail },
                            success: function (response) {
                            console.log("Response layout:", response);

                                if (response) {

                                    $("#pickUp").show();
                                $("#pickUp").attr('style', 'display:block');

                                } else {
                                    $("#pickUp").hide();
                                // $(".page-header").remove();
                                // $("#sidenavAccordion").remove();
                                // $(".container-fluid").remove();
                                // $("#layoutSidenav").remove();
                                // $(".footer-admin").remove();
                                   
                                // $("body").css("background-color", "white");
                                // $("body").append(`
                                //     <div style="
                                //         margin: 10px;
                                //                     margin-top: 14px;
                                //         font-size: 13px;
                                //                 font-weight: normal;
                                //                 color: black;
                                //                 padding-left: 15px;
                                //                font-family: monospace;">
                                //              Page Not Found
                                //     </div>
                                // `);
                                if (window.location.pathname.includes("TimeSlot/UserCalendar")) {
                                    window.location.href = "/@tenantName/Donation/PayPal";
                                }
                                  // window.location.href = "/@tenantName/Donation/PayPal";
                                }
                            },
                            error: function (xhr, status, error) {
                                console.error("Cannot find Image src", status, error);
                                reject(new Error(`Cannot find Image src: ${status} ${error}`));
                            }
                        });
                    });
                }

            // async function fetchImageUrl(tenantId) {
            //     return new Promise((resolve, reject) => {
            //         $.ajax({
            //             url: `/@tenantName/Information/Get`,
            //             method: "GET",
            //             data: { tenantid: tenantId },
            //             success: function (response) {
            //                 const imageUrl = response;

            //                 if (imageUrl) {
            //                     const tenantDiv = $('.tenantImage');

            //                     if (tenantDiv.length > 0) {
            //                         tenantDiv.find('#logoImage').remove();

            //                         const img = $('<img>', {
            //                             id: 'logoImage',
            //                             src: imageUrl,
            //                             style: 'padding-left: 10px; opacity: 100%;'
            //                         });

            //                         tenantDiv.append(img);

            //                         resolve(imageUrl);
            //                     } else {
            //                         console.error("No element found with class 'tenantImage'");
            //                         reject(new Error("No element found with class 'tenantImage'"));
            //                     }
            //                 } else {
            //                     console.error("ImageUrl is missing in the response");
            //                     reject(new Error("ImageUrl is missing in the response"));
            //                 }
            //             },
            //             error: function (xhr, status, error) {
            //                 console.error("Cannot find Image src", status, error);
            //                 reject(new Error(`Cannot find Image src: ${status} ${error}`));
            //             }
            //         });
            //     });
            // }


            async function fetchImageUrl(tenantId) {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: `/@tenantName/Information/Get`,
                        method: "GET",
                        data: { tenantId: tenantId },
                        success: function (response) {

                            console.log("Response:", response);

                            const imageUrl = response.logo;
                            var tenantDisplayName = response.tenantDisplayName;
                            if (tenantDisplayName) {
                                $(".page-name").text(tenantDisplayName);
                            }
                            if (imageUrl) {
                                const tenantDiv = $('.tenantImage');

                                if (tenantDiv.length > 0) {
                                    tenantDiv.find('#logoImage').remove();

                                    const img = $('<img>', {
                                        id: 'logoImage',
                                        src: imageUrl,
                                        style: ' padding-left: 8px; opacity: 100%;'
                                    });

                                    tenantDiv.append(img);

                                    resolve(imageUrl);
                                } else {
                                    console.error("No element found with class 'tenantImage'");
                                    reject(new Error("No element found with class 'tenantImage'"));
                                }
                            } else {
                                console.error("ImageUrl is missing in the response");
                                reject(new Error("ImageUrl is missing in the response"));
                            }

                        },
                        error: function (xhr, status, error) {
                            console.error("Cannot find Image src", status, error);
                            reject(new Error(`Cannot find Image src: ${status} ${error}`));
                        }
                    });
                });
            }

            async function updateImage(tenantId) {
                try {
                    await fetchImageUrl(tenantId);
                } catch (error) {
                    console.error("Failed to update image", error);
                }
            }

           
            updateImage(@tenantId);

    });

    </script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script> *@

    @RenderSection("Scripts", required: false)
</body>
</html>
